// Variables
@import "variables";
.login-header {
  background: $theme-bg-black;
  height: 1rem;
  line-height: 1rem;
}

.login-content{
   background-color: rgba(0, 0, 0, 0.94);
   background: url("/img/login-bg.png") no-repeat center;
   height: 10.35rem;
  .panel {
    background: url("/img/login-panel-bg.png") no-repeat center;
    height: 4.5rem;
    margin-top: 2.2rem;
    padding-top: 0.75rem;
    background-size: contain;
  }
  .login-input-group{
    width: 90%;
    max-width: 3.8rem;
    margin: 0 auto;
    text-align: left;
    padding-top: 0.15rem;
    label {
      display: block;
      color: #ffffff;
    }
    input{
      width: 100%;
      background: none;
      border: $input-border;
      padding: 0 10px;
    }
    .default-input-min{
      width: 70%;
      background: none;
      border: $input-border;
      padding: 0 10px;
      margin-right: 3%;
    }
    >p{
      color: #ffffff;
    }
    .btn-send{
      display: inline-block;
      width: 25%;
      height: inherit;
      background: #ffffff;
      text-align: center;
      cursor: pointer;
    }
    .login-href {
      color: #ff00d8;;
    }
  }
 }

.login-btn-default {
  width: 1.17rem;
  height: 0.3rem;
  background-color: #bfbfbf;
  color: #000000;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  margin-left: 9px;
}
.login-btn-default:first-of-type{
  margin-left: 0;
}
.reg-btn-oauth {
  display: inline-block;
  width: 1.17rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  margin-left: 9px;
  cursor: pointer;
}
.reg-btn-oauth:link,.reg-btn-oauth:visited,.reg-btn-oauth:hover,.reg-btn-oauth:active{
  color: #000000;
  text-decoration: none;
}
.btn-submit {
  background-color: #ffae00;
}
.login-btn-default.btn-submit {
  margin-top: 0.15rem;
}
.login-footer {
  padding: 0.45rem 0;
  background-color: #000000;
  color: #6a6a6a;
  a {
    color: inherit;
  }
}

/*
.login-content .panel {
  background: url(/images/login-panel-bg.png?0753c7b…) no-repeat center;

}
*/
