// Variables
@import "variables";
.reg-content{
  background: url(/img/login-bg.png) no-repeat center;
  top: 60px;
  position: relative;
  padding: calc(50% - 155px) 0px;
  width: 100%;
  min-height: 510px;
  .panel {
    background: url("/images/reg-panel-bg-m.png") no-repeat center;
    height: 4rem;
    width: 90%;
    margin: 0 auto;
  }
  .reg-input-group{
    width: 90%;
    max-width: 3.8rem;
    margin: 0 auto;
    text-align: left;
    padding-top: 0.15rem;
    label {
      display: block;
      color: #ffffff;
    }
    input{
      width: 100%;
      background: none;
      border: $input-border;
      padding: 0 10px;
    }
    >p {
      color: #ffffff;
    }
    .login-href {
      color: #ff00d8;;
    }
  }
}

.reg-btn-default {
  display: inline-block;
  width: 30%;
  height: 0.3rem;
  background-color: #bfbfbf;
  color: #000000;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  margin-left: 3%;
}
.reg-btn-oauth {
  display: inline-block;
  width: 30%;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  margin-left: 3%;
  cursor: pointer;
}
.reg-btn-oauth:link,.reg-btn-oauth:visited,.reg-btn-oauth:hover,.reg-btn-oauth:active{
  color: #000000;
  text-decoration: none;
}
.reg-btn-default:first-of-type{
  margin-left: 0;
}
.btn-submit {
  background-color: #ffae00;
}
.reg-footer {
  padding: 0.45rem 0;
  background-color: #000000;
  color: #6a6a6a;
  a {
    color: inherit;
  }
}

